.text_exposed_root{display:inline}.text_exposed .text_exposed_show{display:inline}.text_exposed .text_exposed_show .text_exposed_link{display:inline !important}.text_exposed_show,.text_exposed .text_exposed_hide{display:none}.text_exposed_link{white-space:nowrap}.text_exposed_link_icon{margin:0 0 -1px 4px}.text_exposed .text_exposed_link{display:none !important}
._605a ._4ooo:not(._1ve7){border-radius:50%;overflow:hidden}
*::-moz-placeholder,*:-moz-placeholder{color:#90949c}*:focus::-moz-placeholder,*:focus:-moz-placeholder{color:#bec2c9}.no_js *::-moz-placeholder,.no_js *:-moz-placeholder{color:#000}
._5wjy{text-align:left}._5wj-{text-align:right}._5wk0{direction:ltr}._5wk0,._5wk1{unicode-bidi:embed}._5wk1{direction:rtl}._5afx{direction:ltr;unicode-bidi:isolate}._5afy{direction:rtl;unicode-bidi:isolate}._5afz{unicode-bidi:isolate}
._43f6{border-left:2px solid #dcdee3;margin:12px 0 0 0;padding-left:15px}._5yn2{border-left:2px solid #dcdee3;color:#7f7f7f;margin:10px 0 0 0;padding-left:10px}._uhq{color:#90949c}._5wpt{border-left:2px solid #dcdee3;padding-left:12px}._5pio{color:#90949c;font-size:12px}._49k0{margin-top:4px;text-align:left}._2xzj,._2xzi{margin:5px 0;text-align:left}._2xzi.ltgtranslatedcontent-enter{background-color:#fff9d7}._2xzi.ltgtranslatedcontent-enter.ltgtranslatedcontent-enter-active{background-color:#fff;transition:background-color 2s ease-in}body[dir="rtl"] ._43f9,body[dir="rtl"] ._49k0{direction:rtl}body[dir="ltr"] ._43f9,body[dir="ltr"] ._49k0{direction:ltr}

._432s{border-bottom:1px solid #e9ebee;color:#90949c;font:12px/1.358 Helvetica, Arial, sans-serif}._432s a{color:#4267b2}._5xtg{line-height:16px;max-width:80%;max-width:calc(100% - 32px)}._5xtg a{font-weight:bold}._3vb4{height:24px;width:24px}
._5muq,._5mur{font:14px Helvetica, Arial, sans-serif}._5muq{font-weight:bold}._5mur{color:#1d2129;line-height:20px}._y9r{color:#90949c;font:12px Helvetica, Arial, sans-serif}._4out a:hover{text-decoration:none}._y9t{margin-bottom:-2px;margin-right:3px}._uyl{border-top:1px solid #e9ebee}
._2_79{letter-spacing:.15px}
._3hft ._435r{padding-right:5px}._2_1h{margin:12px 12px 0}._rb9{border-top:1px solid #f0f0f0}._2163{display:inline-block;line-height:1.358}._2164{border:0;margin:0;width:auto}._2165,._22v4{display:block}._2166,._4mlr{bottom:1px;position:relative}
._36iq{cursor:pointer;font-size:12px;font-weight:bold;line-height:16px;text-align:center}._3xre{color:#7f7f7f}._58c4{color:#fff}._2yf7{vertical-align:bottom}._36iq._4ivs{color:#4080ff}._2yf7._5jp{display:inline-block}._2yf7._3wdt{display:none}._4ivs ._5jp{display:none}._4ivs ._3wdt{display:inline-block}
._1p6f{display:block;width:100%}._1p6g{height:auto}._1p6h{height:100%;width:auto}
._523u{display:inline}
._qpo{background-color:#fff;display:inline-block;min-width:256px;padding:12px}._4mop{border:1px solid rgba(0, 0, 0, .08);border-radius:18px}
._4i-s{padding:12px 12px 0;word-wrap:break-word}
._2l7q{background:#000;box-shadow:none}._2l7q img{margin:0 auto}
._2q1_{position:relative}._2q20{background:linear-gradient(to bottom, rgba(0, 0, 0, .75) 0%, rgba(0, 0, 0, 0) 100%);box-sizing:border-box;color:#fff;height:56px;position:absolute;text-shadow:0 1px 2px rgba(0, 0, 0, .5);width:100%}._2q20 a{color:#fff}._2q20 ._2q21{color:#dddfe2}._2q22{background:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%);bottom:0;height:43px;position:absolute;width:100%}._2q22 ._2_1h{margin:0 0 0 12px}._3rt8{border:2px solid #fff}
._3vtu{height:14px;width:14px}.no_svg ._3vtv,.svg ._3vtw{display:none}._3vtv{border-radius:2px;height:12px;padding:1px;width:12px}
.highContrast ._5n3t._5dzz:before{content:url(/rsrc.php/v3/y-/r/j3Ze1C3j-tT.png);margin:-215px 0 0 -31px;position:absolute}.highContrast ._5n3t._5dzz{overflow:hidden;position:relative}._5n3t._5dzz{background-image:url(/rsrc.php/v3/y-/r/j3Ze1C3j-tT.png);background-repeat:no-repeat;background-size:64px 248px;background-position:-31px -215px}.highContrast ._5n3t._5d-3._5dzz:before{content:url(/rsrc.php/v3/y-/r/j3Ze1C3j-tT.png);margin:-179px 0 0 -35px;position:absolute}.highContrast ._5n3t._5d-3._5dzz{overflow:hidden;position:relative}._5n3t._5d-3._5dzz{background-image:url(/rsrc.php/v3/y-/r/j3Ze1C3j-tT.png);background-repeat:no-repeat;background-size:64px 248px;background-position:-35px -179px}.highContrast ._5n3t._5dz-:before{content:url(/rsrc.php/v3/y-/r/j3Ze1C3j-tT.png);margin:-231px 0 0 1px;position:absolute}.highContrast ._5n3t._5dz-{overflow:hidden;position:relative}._5n3t._5dz-{background-image:url(/rsrc.php/v3/y-/r/j3Ze1C3j-tT.png);background-repeat:no-repeat;background-size:64px 248px;background-position:1px -231px}.highContrast ._5n3t._5dz_:before{content:url(/rsrc.php/v3/y-/r/j3Ze1C3j-tT.png);margin:-199px 0 0 -1px;position:absolute}.highContrast ._5n3t._5dz_{overflow:hidden;position:relative}._5n3t._5dz_{background-image:url(/rsrc.php/v3/y-/r/j3Ze1C3j-tT.png);background-repeat:no-repeat;background-size:64px 248px;background-position:-1px -199px}.highContrast ._5n3t._5d-0:before{content:url(/rsrc.php/v3/y-/r/j3Ze1C3j-tT.png);margin:-121px 0 0 1px;position:absolute}.highContrast ._5n3t._5d-0{overflow:hidden;position:relative}._5n3t._5d-0{background-image:url(/rsrc.php/v3/y-/r/j3Ze1C3j-tT.png);background-repeat:no-repeat;background-size:64px 248px;background-position:1px -121px}.highContrast ._5n3t._5d-1:before{content:url(/rsrc.php/v3/y-/r/j3Ze1C3j-tT.png);margin:-99px 0 0 -43px;position:absolute}.highContrast ._5n3t._5d-1{overflow:hidden;position:relative}._5n3t._5d-1{background-image:url(/rsrc.php/v3/y-/r/j3Ze1C3j-tT.png);background-repeat:no-repeat;background-size:64px 248px;background-position:-43px -99px}.highContrast ._5n3t._5d-3._5d-1:before{content:url(/rsrc.php/v3/y-/r/j3Ze1C3j-tT.png);margin:-25px 0 0 1px;position:absolute}.highContrast ._5n3t._5d-3._5d-1{overflow:hidden;position:relative}._5n3t._5d-3._5d-1{background-image:url(/rsrc.php/v3/y-/r/j3Ze1C3j-tT.png);background-repeat:no-repeat;background-size:64px 248px;background-position:1px -25px}.highContrast .uiTypeaheadView .selected ._5n3t._5dzz:before{content:url(/rsrc.php/v3/y-/r/j3Ze1C3j-tT.png);margin:-215px 0 0 -47px;position:absolute}.highContrast .uiTypeaheadView .selected ._5n3t._5dzz{overflow:hidden;position:relative}.uiTypeaheadView .selected ._5n3t._5dzz{background-image:url(/rsrc.php/v3/y-/r/j3Ze1C3j-tT.png);background-repeat:no-repeat;background-size:64px 248px;background-position:-47px -215px}.highContrast .selected ._5n3t._5dz_:before{content:url(/rsrc.php/v3/y-/r/j3Ze1C3j-tT.png);margin:-199px 0 0 -19px;position:absolute}.highContrast .selected ._5n3t._5dz_{overflow:hidden;position:relative}.selected ._5n3t._5dz_{background-image:url(/rsrc.php/v3/y-/r/j3Ze1C3j-tT.png);background-repeat:no-repeat;background-size:64px 248px;background-position:-19px -199px}.UFICommentContent ._5n3t{margin-left:1px}.tooltipContent ._53k0{overflow:hidden;white-space:normal;width:164px}
a._58cn:hover{text-decoration:none}a:hover ._58cm{text-decoration:underline}._58cn ._58cl{color:#4267b2}.UFIContainer ._58cn ._58cl{color:#90949c}
._5pcb{margin-left:-18px}._5pcb._dp7 ._5vsj,._5pcb._dp7 ._5vsj .fsm,._5pcb._dp7 ._5vsi,._5pcb._dp7 ._5v47,._5pcb._4j3f .UFIAddCommentInput{font-size:13px}.likeBoxStream ._5pcb,.safetyStream ._5pcb,._22fo ._5pcb,._1nvm ._5pcb,._4x2x ._5pcb,._5tmf._5pcb,._5vb_ ._5pcb,._56mv ._5pcb,._5sem ._5pcb,._5zlf ._5pcb,.permalinkPost ._5pcb{margin-left:0}.permalinkPost ._5pcb{margin-bottom:-10px}
._5pat{position:relative;word-wrap:break-word}._5v3q ._1dwg{padding:12px 12px 0}._5v3q ._3bx7 ._1dwg{padding-bottom:12px}._5v3q ._hye ._1dwg{padding:0}._4l3g ._5v3q ._1dwg{max-height:128px;max-width:395px;overflow:overlay;padding:12px 12px 3px}._5v3q._54ez{padding:0 12px 12px 12px}._5pb8{float:left}._5pat ._5sq7{height:40px;width:40px}._2r79{background:#f6f7f9;margin:4px -12px 8px -12px}._4_vv,._4mrt:empty{border-style:none;margin:0}._n3x{opacity:.5}._wpv{word-break:break-word}._gb8{position:relative;top:3px}._530n>span:first-child{color:#90949c;display:inline;margin:0 4px}._530o{background-color:#4080ff;border-radius:21px;color:#fff;display:inline-block;font-size:12px;font-weight:normal;padding:3px 6px 2px 21px;position:relative}._530o:before{background-image:url(/rsrc.php/v3/y-/r/j3Ze1C3j-tT.png);background-repeat:no-repeat;background-size:64px 248px;background-position:0 -216px;content:'';height:13px;left:4px;position:absolute;top:4px;width:13px}._20ou{background-color:#b2b2b2}._20ou:before{background-image:url(/rsrc.php/v3/y-/r/j3Ze1C3j-tT.png);background-repeat:no-repeat;background-size:64px 248px;background-position:-16px -216px}._1q6s{position:absolute;right:12px;top:14px}._5m7s,._5m7s ._5vsj,._5m7s ._5vsj .UFIRow{background-color:#fffbe2 !important}._53ij ._5pat{margin-bottom:0}._3hk5{margin-left:auto;margin-right:auto}._5pat._5v3q.ego_ads_boost_post_nux_context{border-color:#4080ff;border-width:medium}._58we .weakReference,._58we ._5xib{opacity:.5}
._5pbw,._5pbx{font-size:14px;font-weight:normal;line-height:1.38}._3576{margin-top:6px}._yd0{overflow:visible}._3577{padding-top:3px}._58jw{font-size:24px;font-weight:300;letter-spacing:0;line-height:28px;margin:7px 0 7px 0}._5v3q ._58jw :first-child{margin-top:0}._5v3q ._58jw :last-child{margin-bottom:0}._5pbw{margin-bottom:2px;padding-right:22px}._5pbw._11dd{padding-right:55px}._5pbw._3n8j{padding-right:36px}._5pbw._9sf{padding-right:40px}._5v3q ._5pbw .fcg{color:#90949c}._5v3q ._14f3._5pbw._5pbw .fcg,._5v3q ._14f3._1qbu._5pbw .fcg{color:#616770}._5pbx span.text_exposed_link{display:block;font-size:14px;padding-left:0;padding-top:4px}._5pby{min-height:14px}._5v3q ._1qbu{font-size:12px;margin-top:-2px}._5v3q ._14f5._1qbu{font-size:13px}._5v3q ._4bxd{font-size:12px}._5v3q ._5pbx p{margin:6px 0}._5v3q ._5pbx p:first-child{margin-top:0}._5v3q ._5pbx>p:last-of-type{display:inline;margin-bottom:0}._3-2s ._5pbw,._3-2s ._5pbx{line-height:1.28}._5v3q ._5pbx .text_exposed_root>p:last-of-type{display:inline}._5v3q ._5pbx .text_exposed_root:not(.text_exposed)>p:not(:first-child):last-of-type::before{content:"";display:block;margin-top:6px}._5v3q ._5pbx .text_exposed>p:first-child,._5v3q ._5pbx .text_exposed>p:last-of-type{display:block}._5v3q .text_exposed_hide{display:inline-block;margin-right:4px}._5v3q .text_exposed .text_exposed_hide{display:none}._5v3q span.text_exposed_link{padding:0}._1yj5 ._5pbx>div>p:last-child{margin-bottom:0}._hye ._5pbx,._170x ._5pbx{height:4.14em;line-height:1.38em;white-space:normal}._hye ._5pbx span.text_exposed_link,._170x ._5pbx span.text_exposed_link{display:inline}._hye ._5pbw,._170x ._5pbw{height:1.38em;line-height:1.38em;white-space:normal}
.pas{padding:5px}.pam{padding:10px}.pal{padding:20px}.pts{padding-top:5px}.ptm{padding-top:10px}.ptl{padding-top:20px}.prs{padding-right:5px}.prm{padding-right:10px}.prl{padding-right:20px}.pbs{padding-bottom:5px}.pbm{padding-bottom:10px}.pbl{padding-bottom:20px}.pls{padding-left:5px}.plm{padding-left:10px}.pll{padding-left:20px}.phs{padding-left:5px;padding-right:5px}.phm{padding-left:10px;padding-right:10px}.phl{padding-left:20px;padding-right:20px}.pvs{padding-top:5px;padding-bottom:5px}.pvm{padding-top:10px;padding-bottom:10px}.pvl{padding-top:20px;padding-bottom:20px}.mas{margin:5px}.mam{margin:10px}.mal{margin:20px}.mts{margin-top:5px}.mtm{margin-top:10px}.mtl{margin-top:20px}.mrs{margin-right:5px}.mrm{margin-right:10px}.mrl{margin-right:20px}.mbs{margin-bottom:5px}.mbm{margin-bottom:10px}.mbl{margin-bottom:20px}.mls{margin-left:5px}.mlm{margin-left:10px}.mll{margin-left:20px}.mhs{margin-left:5px;margin-right:5px}.mhm{margin-left:10px;margin-right:10px}.mhl{margin-left:20px;margin-right:20px}.mvs{margin-top:5px;margin-bottom:5px}.mvm{margin-top:10px;margin-bottom:10px}.mvl{margin-top:20px;margin-bottom:20px}
._47e3,._4ay8{line-height:0;vertical-align:middle}._4ay8{font-style:normal !important;font-weight:normal !important}._4ay8._3kkw{font-size:16px}._4ay8._366d{font-size:18px}._4ay8._366e{font-size:20px}._4ay8._48cb{font-size:24px}span._47e3 .img{vertical-align:-3px}i._47e3{display:inline-block;vertical-align:top}i._47e3._3kkw{background-size:16px 16px;height:16px;width:16px}i._47e3._366d{background-size:18px 18px;height:18px;width:18px}i._47e3._366e{background-size:20px 20px;height:20px;width:20px}i._47e3._48cb{background-size:24px 24px;height:24px;width:24px}._1gwo:before,span._47e3:before{clip:rect(1px, 1px, 1px, 1px);content:attr(title);height:1px;overflow:hidden;position:absolute;white-space:nowrap;width:1px}._skr,._7oe{display:inline-block;font-size:0;width:0}._5mfr{margin:0 1px}.ios ._skr,.ios ._7oe{display:inline}
.sp_3mD3RFHUB1K_1_5x{background-image:url(/rsrc.php/v3/y-/r/j3Ze1C3j-tT.png);background-size:64px 248px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_3mD3RFHUB1K_1_5x.sx_3244d3{width:20px;height:20px;background-position:-26px -76px}.sp_3mD3RFHUB1K_1_5x.sx_19b691{width:20px;height:20px;background-position:0 -100px}.sp_3mD3RFHUB1K_1_5x.sx_1f446f{width:24px;height:24px;background-position:-28px -26px}.sp_3mD3RFHUB1K_1_5x.sx_b33cfb{width:24px;height:24px;background-position:0 -54px}.sp_3mD3RFHUB1K_1_5x.sx_c034d0{background-position:-42px -122px}.sp_3mD3RFHUB1K_1_5x.sx_74ee22{background-position:0 -144px}.sp_3mD3RFHUB1K_1_5x.sx_017575{background-position:-18px -144px}.sp_3mD3RFHUB1K_1_5x.sx_ece512{background-position:-36px -144px}.sp_3mD3RFHUB1K_1_5x.sx_5676e1{background-position:0 -162px}.sp_3mD3RFHUB1K_1_5x.sx_34c7ed{width:20px;height:20px;background-position:-22px -100px}.sp_3mD3RFHUB1K_1_5x.sx_3719a8{width:12px;height:12px;background-position:-16px -232px}.sp_3mD3RFHUB1K_1_5x.sx_1e69b1{background-position:-18px -162px}.sp_3mD3RFHUB1K_1_5x.sx_5de621{background-position:-36px -162px}.sp_3mD3RFHUB1K_1_5x.sx_e73d2a{background-position:0 -180px}.sp_3mD3RFHUB1K_1_5x.sx_f7fa6b{background-position:-18px -180px}.sp_3mD3RFHUB1K_1_5x.sx_c40b87{width:10px;height:6px;background-position:-8px -86px}.sp_3mD3RFHUB1K_1_5x.sx_a6f80e{width:10px;height:6px;background-position:-34px -62px}.sp_3mD3RFHUB1K_1_5x.sx_7dab8f{width:14px;height:14px;background-position:0 -216px}.sp_3mD3RFHUB1K_1_5x.sx_692164{width:14px;height:14px;background-position:-16px -216px}.sp_3mD3RFHUB1K_1_5x.sx_b57227{width:12px;height:12px;background-position:-30px -232px}.sp_3mD3RFHUB1K_1_5x.sx_914590{background-position:-36px -180px}.sp_3mD3RFHUB1K_1_5x.sx_18d7f4{width:14px;height:14px;background-position:-48px -216px}.sp_3mD3RFHUB1K_1_5x.sx_75c7b0{width:14px;height:14px;background-position:-32px -216px}.sp_3mD3RFHUB1K_1_5x.sx_1d1ca9{width:14px;height:14px;background-position:0 -232px}.sp_3mD3RFHUB1K_1_5x.sx_b08688{width:20px;height:20px;background-position:0 -122px}.sp_3mD3RFHUB1K_1_5x.sx_e89d2c{width:18px;height:18px;background-position:-44px -100px}.sp_3mD3RFHUB1K_1_5x.sx_b9bab1{width:26px;height:26px;background-position:0 -26px}.sp_3mD3RFHUB1K_1_5x.sx_826d59{width:14px;height:14px;background-position:-20px -200px}.sp_3mD3RFHUB1K_1_5x.sx_19946f{width:14px;height:14px;background-position:-2px -200px}.sp_3mD3RFHUB1K_1_5x.sx_7c57b9{width:18px;height:18px;background-position:-22px -122px}.sp_3mD3RFHUB1K_1_5x.sx_12868f{background-position:-36px -198px}.sp_3mD3RFHUB1K_1_5x.sx_82aac1{width:62px;height:24px;background-position:0 0}.sp_3mD3RFHUB1K_1_5x.sx_37d063{width:14px;background-position:-48px -76px}
.sp_Jq-gS04rnrg_1_5x{background-image:url(/rsrc.php/v3/yx/r/8JvA_hPcop3.png);background-size:82px 260px;background-repeat:no-repeat;display:inline-block;height:30px;width:24px}.sp_Jq-gS04rnrg_1_5x.sx_90e979{height:24px;background-position:-20px -206px}.sp_Jq-gS04rnrg_1_5x.sx_b1fae7{width:20px;height:20px;background-position:0 -238px}.sp_Jq-gS04rnrg_1_5x.sx_c0309a{width:18px;background-position:-50px -156px}.sp_Jq-gS04rnrg_1_5x.sx_ceb337{width:18px;background-position:0 -206px}.sp_Jq-gS04rnrg_1_5x.sx_457b50{width:80px;height:80px;background-position:0 0}.sp_Jq-gS04rnrg_1_5x.sx_3979e0{width:72px;height:72px;background-position:0 -82px}.sp_Jq-gS04rnrg_1_5x.sx_fa1590{width:16px;height:16px;background-position:-50px -188px}.sp_Jq-gS04rnrg_1_5x.sx_fe7a68{height:24px;background-position:-46px -206px}.sp_Jq-gS04rnrg_1_5x.sx_95c638{width:48px;height:48px;background-position:0 -156px}
.sp_Ya3TWSOfmCn_1_5x{background-image:url(/rsrc.php/v3/yg/r/rvOCQWdoqVU.png);background-size:18px 54px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_Ya3TWSOfmCn_1_5x.sx_88864b{background-position:0 0}.sp_Ya3TWSOfmCn_1_5x.sx_bc8f18{background-position:0 -18px}.sp_Ya3TWSOfmCn_1_5x.sx_a798c0{background-position:0 -36px}

#bootloader_fisow{height:42px;}.bootloader_fisow{display:block!important;}