.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}.clearfix{zoom:1}.datawrap{word-wrap:break-word}.word_break{display:inline-block}.ellipsis{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.aero{opacity:.5}.column{float:left}.center{margin-left:auto;margin-right:auto}#facebook .hidden_elem{display:none !important}#facebook .invisible_elem{visibility:hidden}#facebook .accessible_elem{clip:rect(1px 1px 1px 1px);clip:rect(1px, 1px, 1px, 1px);height:1px;overflow:hidden;position:absolute;white-space:nowrap;width:1px}.direction_ltr{direction:ltr}.direction_rtl{direction:rtl}.text_align_ltr{text-align:left}.text_align_rtl{text-align:right}
._32qa button{opacity:.4}._59ov{height:100%;height:910px;position:relative;top:-10px;width:100%}._5ti_{background-size:cover;height:100%;width:100%}._5tj2{height:900px}._2mm3 ._5a8u .uiBoxGray{background:#fff;margin:0;padding:12px}._2494{height:100vh}._2495{top:10px}
._1f8a{display:inline;float:left}._1f8b{float:left}
._2hkj>div{height:100%;position:relative;width:100%}
._4v3l{background:#fff;border-bottom:1px solid #dddfe2;position:relative}._4v3m{cursor:pointer}._4v3m:hover{background:#f2f2f2}
._10b4{overflow-y:auto;position:relative;width:100%}._10b5{height:200px;position:relative}._4g7o{left:50%;position:absolute;top:25%;transform:translate(-50%, -25%)}
._eh3{color:#90949c;display:inline-block}._eg_{font-size:12px;line-height:34px;text-align:center}._eh2 ._eh3{border-bottom:4px solid #4267b2;color:#4b4f56;font-weight:bold;height:30px}

._2ah8{color:#90949c;display:block}
._42ft{cursor:pointer;display:inline-block;text-decoration:none;white-space:nowrap}._42ft:hover{text-decoration:none}._42ft+._42ft{margin-left:4px}._42fr,._42fs{cursor:default}
._5f0v{outline:none}._3oxt{outline:1px dotted #3b5998;outline-color:invert}.webkit ._3oxt{outline:5px auto #5b9dd9}.win.webkit ._3oxt{outline-color:#e59700}
i.img{-ms-high-contrast-adjust:none}i.img u{left:-999999px;position:absolute}
.lfloat{float:left}.rfloat{float:right}
.uiLayer{outline:none}
._1m42{position:relative}._1m42 img,._1m42 i{-webkit-filter:brightness(50%) blur(5px);transition:filter .5s ease-out}._5v3q ._1m42::after,._1m42::after{-webkit-animation:rotateSpinner 1.2s linear infinite;background-image:url(/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);border:0;content:'';display:inline-block;height:24px;left:50%;margin:-12px -12px;position:absolute;top:50%;width:24px;z-index:10}
._55ym{-webkit-animation:rotateSpinner 1.2s linear infinite;display:inline-block;vertical-align:middle}._55yn._55yo{background-image:url(/rsrc.php/v3/yW/r/Cg43IrsPc7P.png);height:12px;width:12px}._55yn._55yp{background-image:url(/rsrc.php/v3/ya/r/xhqoB-vsYoT.png);height:12px;width:12px}._55yq{background-image:url(/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);height:24px;width:24px}._5tqs{-webkit-animation-play-state:paused;display:none}._5tqs.async_saving,.async_saving ._5tqs{-webkit-animation-play-state:running;display:inline-block}._2y32{-webkit-animation-play-state:paused}._5d9-{-webkit-animation:none;background-repeat:no-repeat}._5d9-._55yn{background-image:url(/rsrc.php/v3/y-/r/AGUNXgX_Wx3.gif);background-repeat:no-repeat;background-size:auto;background-position:0 2px;height:16px;width:16px}._5d9-._55yq{background-image:url(/rsrc.php/v3/yG/r/b53Ajb4ihCP.gif);background-repeat:no-repeat;background-size:auto;background-position:0 2px;height:32px;width:32px}@-webkit-keyframes rotateSpinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
.UFICommentLink,.UFIPagerLink{display:block}.UFICommentLink:focus,.UFIPagerLink:focus,.UFIShareLink:focus{outline:none;text-decoration:underline}.UFICollapseIcon,.UFIPagerIcon,.UFIShareIcon{bottom:2px;display:block;height:16px;position:relative;width:16px}.UFIWeakReferenceIcon{background-image:url(/rsrc.php/v3/y4/r/Dit-9rriRIl.png);background-repeat:no-repeat;background-size:auto;background-position:0 -76px;display:inline-block;height:9px;margin-right:3px;width:9px}.UFICommentLink:hover .UFICollapseIcon{background-image:url(/rsrc.php/v3/y4/r/Dit-9rriRIl.png);background-repeat:no-repeat;background-size:auto;background-position:0 -10px}.UFICollapseIcon{background-image:url(/rsrc.php/v3/y4/r/Dit-9rriRIl.png);background-repeat:no-repeat;background-size:auto;background-position:0 -27px}.UFIPagerIcon{background-image:url(/rsrc.php/v3/y4/r/Dit-9rriRIl.png);background-repeat:no-repeat;background-size:auto;background-position:0 -60px;height:15px;width:12px}.UFIReplyList .UFIPagerIcon{background-image:url(/rsrc.php/v3/y4/r/Dit-9rriRIl.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;height:9px;margin:0 -2px 0 -1px;position:relative;top:4px;width:19px}.UFIShareIcon{background-image:url(/rsrc.php/v3/y4/r/Dit-9rriRIl.png);background-repeat:no-repeat;background-size:auto;background-position:0 -44px;height:15px;width:14px}
.textMetrics{border:none;height:1px;overflow:hidden;padding:0;position:absolute;top:-9999999px}.textMetricsInline{white-space:pre}
._42ef{overflow:hidden}
._51mz{border:0;border-collapse:collapse;border-spacing:0}._5f0n{table-layout:fixed;width:100%}.uiGrid .vTop{vertical-align:top}.uiGrid .vMid{vertical-align:middle}.uiGrid .vBot{vertical-align:bottom}.uiGrid .hLeft{text-align:left}.uiGrid .hCent{text-align:center}.uiGrid .hRght{text-align:right}._51mx:first-child>._51m-{padding-top:0}._51mx:last-child>._51m-{padding-bottom:0}._51mz ._51mw{padding-right:0}._51mz ._51m-:first-child{padding-left:0}
._8o,._8o .img{display:block}._8r{margin-right:5px}._8s{margin-right:8px}._8t{margin-right:10px}
._ohe{float:left}._ohf{float:right}
._4qba{font-style:normal}._4qbb,._4qbc,._4qbd{background:none;font-style:normal;padding:0;width:auto}._4qbd{border-bottom:1px solid #f99}._4qbb,._4qbc{border-bottom:1px solid #999}._4qbb:hover,._4qbc:hover,._4qbd:hover{background-color:#fcc;border-top:1px solid #ccc;cursor:help}

.sp_LtHC2erF1xO{background-image:url(/rsrc.php/v3/y4/r/Dit-9rriRIl.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_LtHC2erF1xO.sx_992b80{background-position:0 -10px}.sp_LtHC2erF1xO.sx_cfbd19{background-position:0 -27px}.sp_LtHC2erF1xO.sx_571faf{width:9px;height:9px;background-position:0 -76px}.sp_LtHC2erF1xO.sx_c304e8{width:12px;height:15px;background-position:0 -60px}.sp_LtHC2erF1xO.sx_aefb18{width:11px;height:9px;background-position:-4px 0}.sp_LtHC2erF1xO.sx_1f673c{width:14px;height:15px;background-position:0 -44px}

#bootloader_KqCmG{height:42px;}.bootloader_KqCmG{display:block!important;}