._52ju{text-align:left}._52jv{text-align:center}._52jw{text-align:right}
.uiIconText{display:inline-block;padding-left:21px;position:relative}label.uiIconText{vertical-align:baseline}.uiIconText .img{left:0;position:absolute;top:-1px;vertical-align:middle}

#bootloader_rks_G{height:42px;}.bootloader_rks_G{display:block!important;}